annotated-types
anyio
appdirs
attrs
Automat
Babel
bcrypt
blinker
Brotli
certifi
chardet
command-not-found
configobj
constantly
contourpy
cryptography
fastapi
fastapi-cli
fonttools
fs
gyp
h11
html5lib
httpcore
httplib2
httptools
httpx
hyperlink
idna
incremental
Jinja2
jsonpatch
jsonpointer
jsonschema
kiwisolver
launchpadlib
lazr.restfulclient
lazr.uri
lxml
lz4
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
netifaces
numexpr
numpy
oauthlib
odfpy
olefile
openpyxl
packaging
pandas
pillow
py-cpuinfo
pyasn1
pyasn1-modules
pycurl
pydantic
pydantic_core
Pygments
PyGObject
PyHamcrest
PyJWT
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
requests
rich
rich-toolkit
SciPy
service-identity
setuptools
shellingham
six
sniffio
soupsieve
starlette
sympy
systemd-python
tables
Twisted
typer
typing_extensions
ubuntu-pro-client
ufoLib2
unattended-upgrades
unicodedata2
urllib3
uvicorn
uvloop
wadllib
watchfiles
webencodings
websockets
wheel
zope.interface
